/** Global Styles **/
.backimg {
    background: url('../images/dust_scratches.png');
}

.contact-icon{ 
    width:55px;
    display: inline;
}

 .contact-listItem {
    display: inline;
    padding:3%;
}

.h2-underline {
    border-bottom: 3px solid #999999;
}

.main-content {
    background: #ffffff;
}

.contact-content {
    background: #ffffff;
}